---
import '../styles/global.css'
const { title = 'Brianna Marie Rickey | Cybersecurity Portfolio' } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body
    class="text-black min-h-screen antialiased bg-fixed bg-cover bg-center"
    style="background-image: url('/backgrounds/gradient-hexagonal-background.svg');"
  >
    <!-- <div
    class="absolute inset-0 bg-[url('/backgrounds/tech-grid.svg')] opacity-10 bg-cover bg-center z-0 pointer-events-none"
  ></div> -->
    >
    <div
      class="absolute inset-0 bg-[url('/backgrounds/tech-grid.svg')] opacity-10 bg-cover bg-center z-0 pointer-events-none"
    >
    </div>

    <!-- Content sits above background -->
    <div class="relative z-10">
      <slot />
    </div>
  </body>
</html>
